.btn1{
    width:40pc;
  height: 40pc;
  background: black;
  border-radius: 50%;
  color: aliceblue;
  position: absolute;
   animation: moveRight 3s infinite ;
   z-index: 2;
   font-size: 1.5rem;
    
}
@keyframes twinkle {
  0%, 100% { opacity: 1; }
  50% { opacity: 0.6; }
}
.btn2{
    width: 40pc;
  height: 40pc;

  border-radius: 50%;
  margin-left: 35pc;
  animation: pulse 3s infinite;
  background: black;
background-image: radial-gradient(white 1px, transparent 1px);
background-size: 20px 20px;
animation: twinkle 2s infinite ease-in-out;
  
  
}
.image{
  position: absolute;
  z-index: 1;
  border-radius: 50%;
  width:35pc;
  height:35pc;
  margin-top: 2.8pc;
  margin-left: 37.5pc;
 
}
.btn3{
  position:absolute;
margin-top: 27pc;
margin-left: 51.5pc;
   z-index: 2;
   background-color: bisque;
   font-family:cursive;color: deeppink;
   font-size: 1rem;
   border: none;
   border-radius: 3px;
  
}


@keyframes pulse {
  0%, 60% { transform: scale(0.9); }
  50% { transform: scale(1); }
}
@keyframes moveRight {
  from { left: -1px; }
  to { right: 20pc; }
}

